$primary-color: #3d5a80;
$secondary-color: #e0fbfc;
$tertiary-color: #293241;

*,
*::before,
*::after {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
	background-color: $primary-color;
	padding: 1rem;
}

main {
	display: flex;
	flex-flow: wrap;
	align-content: center;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.audio {
	padding: 2rem 2rem;
	background-color: $tertiary-color;
	color: $secondary-color;
	border-radius: 3em;
	transition: transform .3s ease;
	border: 1px solid $secondary-color;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.258);
	text-transform: uppercase;

	&:hover {
		cursor: pointer;
	}

	&:active {
		transform: scale(.98);
	}
}
